@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<DreamJournal.Models.Entry>
<div class="centerer">
<div class="main">
<br />
<h2 class="megaLabel">Dream List</h2>
<br />
	@if (!Model.Any() )
	{
	    <br />
        <h4>No entries yet -- get to dreaming!</h4>
	    <br />
	}
	else
	{
        foreach(var listEntry in Model)
        {
            <li>
    		@Html.DisplayFor(modelEntry => listEntry.Title) | 
    		@Html.ActionLink("Details", "Details", new { id = listEntry.EntryId }) |
            @Html.ActionLink("Edit", "Edit", new { id = listEntry.EntryId }) |
    		@Html.ActionLink("Delete", "Delete", new { id = listEntry.EntryId })	
    		</li>
    		
        }
	}
<br />
<p>@Html.ActionLink("Add new entry", "Create")</p>
</div>
</div>